<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="d9b6de81-42fa-4f40-9324-4bebbe8ac1d4"
    Publisher="CN=Tim"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d9b6de81-42fa-4f40-9324-4bebbe8ac1d4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NewCC2015.AzureSearch.Universal</DisplayName>
    <PublisherDisplayName>Tim</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetPlatform Name="Windows.Universal" MinVersion="10.0.10030.0" MaxVersionTested="10.0.10030.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="NewCC2015.AzureSearch.Universal.App">
      <uap:VisualElements
        DisplayName="NewCC2015.AzureSearch.Universal"
        Square150x150Logo="Assets\Azure.png"
        Square44x44Logo="Assets\Azure.png"
        Description="NewCC2015.AzureSearch.Universal"
        ForegroundText="light"
        BackgroundColor="#0072C6">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>